$primary: #d20117;
$text-color: #eee;
$link-color: #ddd;

$nav-background: linear-gradient(to bottom, $primary 0%,darken($primary, 2%) 100%);

$background-main-color: #fafafa;
$background-shadow-color: #444;
$content-background: $background-main-color;
